<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" href="#">Registraduría Grupo 7</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end mx-5 fs-4"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Candidatos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            <li><a class="dropdown-item" href="#">Actualizar</a></li>
            <li><a class="dropdown-item" href="#">Crear</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mesas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            <li><a class="dropdown-item" href="#">Actualizar</a></li>
            <li><a class="dropdown-item" href="#">Crear</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Resultados
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            <li><a class="dropdown-item" href="#">Actualizar</a></li>
            <li><a class="dropdown-item" href="#">Crear</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Reportes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            <li><a class="dropdown-item" href="#">Actualizar</a></li>
            <li><a class="dropdown-item" href="#">Crear</a></li>
            <li><a class="dropdown-item" href="#">Eliminar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Cuenta <fa-icon [icon]="faUser"></fa-icon>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            <li><a class="dropdown-item" href="#">Crear Cuenta</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
